@page "/user"
@using BlazorApp.Model.Entities
<h3>Tài Khoản Người Dùng</h3>

@if (UserModels == null)
{
    <p>Đang Tải...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Tên Tài Khoản</th>
                <th>Vai Trò</th>
                <th>Trạng Thái</th>
                <th>Hành Động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in UserModels)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>
                        @foreach (var role in user.UserRoles)
                        {
                            <span>@role.Role.RoleName</span>
                            <br />
                        }
                    </td>
                    <td>@user.IsLocked</td>
                    <td>
                        <a class="btn btn-secondary" href="/user/update/@user.ID">Cập Nhật</a>
                        <button class="btn btn-danger" @onclick="()=> { DeleteID = user.ID; Modal.Open();}">Xóa</button>
                        <button class="btn btn-primary" @onclick="()=>{ UserName = user.Username; LockModal.Open();}">Khóa/Mở Khóa</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <AppModal @ref="Modal">
        <Title>Notification</Title>
        <Body>
            Bạn có muốn xoá người dùng này ?
        </Body>
        <Footer>
            <button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Có</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Trở Lại</button>
        </Footer>
    </AppModal>
    <AppModal @ref="LockModal">
        <Title>Notification</Title>
        <Body>
            Bạn có muốn khoá/mở khoá người dùng này ?
        </Body>
        <Footer>
            <button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleLock">Có</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Trở Lại</button>

        </Footer>
    </AppModal>
}
