﻿
@inherits LayoutComponentBase
@using BlazorApp.Web.Authentication
@using Blazored.Toast.Configuration
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ApiClient ApiClient

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<AuthorizeView>
				<Authorized>
					<div>
						<a href="/profile">
							<img src="/bootstrap/Profile.png" alt="Hồ sơ cá nhân" style="width: 24px; height: 24px;" />
						</a>
					</div>
				</Authorized>
			</AuthorizeView>
			<AuthorizeView>
				<Authorized>
					<div>Xin Chào,@UserName </div>
				</Authorized>
			</AuthorizeView>
			<AuthorizeView>

				<NotAuthorized>
					<a href="/login">Đăng Nhập</a>
				</NotAuthorized>
			</AuthorizeView>
			<AuthorizeView>
				<Authorized>
					<a href="/logout">Đăng Xuất</a>
				</Authorized>
			</AuthorizeView>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="10"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa fa-thumbs-up"
				ErrorIcon="fa fa-bug" />

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Tải lại</a>
	<a class="dismiss">🗙</a>
</div>

@code {
	private string UserName { get; set; }
	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;

		if (!user.Identity.IsAuthenticated)
		{
			// Nếu chưa đăng nhập thì chuyển hướng đến trang login
			Navigation.NavigateTo("/login");
		}
		else
		{
			
			UserName = user.Identity.Name; 
		}
	}
}