@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">BlazorApp</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill" aria-hidden="true"></span> Hệ Thống
			</NavLink>
		</div>

						<AuthorizeView Roles="Admin">
					<Authorized>
						<li class="nav-item menu-open">
							<a class="nav-link">
								<i class="nav-icon fas fa-user"></i>
								<p>
									Quản lý người dùng
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav-treeview">
								<li class="nav-item">
									<NavLink href="user" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Danh sách người dùng</p>
									</NavLink>
								</li>
								<li class="nav-item">
									<NavLink href="user/register" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Đăng ký tài khoản</p>
									</NavLink>
								</li>
							</ul>
						</li>
					</Authorized>
				</AuthorizeView>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="teacher">
				<span class="bi bi-list-nested" aria-hidden="true"></span> Giáo viên
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="student">
				<span class="bi bi-list-nested" aria-hidden="true"></span> Lớp học
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="student">
				<span class="bi bi-list-nested" aria-hidden="true"></span> Học Sinh
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="student">
				<span class="bi bi-list-nested" aria-hidden="true"></span> Môn học
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="score">
				<span class="bi bi-list-nested" aria-hidden="true"></span> Điểm Số
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="student">
				<span class="bi bi-list-nested" aria-hidden="true"></span> Năm học, Học kì
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="student">
				<span class="bi bi-list-nested" aria-hidden="true"></span> Thông Báo
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="student">
				<span class="bi bi-list-nested" aria-hidden="true"></span> Báo Cáo
			</NavLink>
		</div>
		
	</nav>
</div>
