<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">BlazorApp</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill" aria-hidden="true"></span> Hệ Thống
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="user">
				<span class="bi bi-list-nested" aria-hidden="true"></span>Tài Khoản Người Dùng
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="teacher">
				<span class="bi bi-list-nested" aria-hidden="true"></span> Cán Bộ
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="student">
				<span class="bi bi-list-nested" aria-hidden="true"></span> Học Sinh
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="student">
				<span class="bi bi-list-nested" aria-hidden="true"></span> Báo Cáo
			</NavLink>
		</div>
		
	</nav>
</div>
